.container{
    width: min(700px, 90%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.logo{
    margin-bottom: 60px;
}

img{
    width: 200px;
}

form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}

input{
    width: 100%;
    font-size: 1.2rem;
    border-radius: 4px;
    border: none;
    outline: none;
    padding: 5px 10px;
    margin-right: 15px;
}

button{
    font-size: 1.6rem;
    border-radius: 4px;
    border: none;
    transition: .2s all;
    background: transparent;
    color: rgba(255, 255, 255, 0.726);
}

button:hover{
    color: white;
}

table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 14px;
    margin: 0;
    padding: 0;
    table-layout: fixed;
}

th{
    color: white;
    text-align: center;
}

tr, td{
    padding: 5px;  
}

.tr{
    background: rgb(41, 41, 41);
    color: white;
}

tr, td{
    text-align: center;
    padding: 10px;
}

tr:first-child, td:first-child{
    border-radius: 4px  0 0 4px;
}

td:last-child, tr:last-child{
    border-radius: 0 4px 4px 0;
}

.verm{
    color: rgb(216, 36, 36);
    font-weight: bold;
}

.verde{
    color: rgb(42, 247, 103);
    font-weight: bold;
}

.btnMaisResultados{
    background: rgb(33, 155, 255);
    color: white;
    font-weight: 400;
    font-size: 1rem;
    padding: 10px 30px;
    margin-top: 20px;
    align-self: flex-end;
}

@media screen and (max-width: 600px){
    thead{
        display: none;
    }

    td{
        display: block;
        text-align: right;
        border-bottom: 1px solid rgba(221, 221, 221, 0.17);
        color: rgb(167, 167, 167);
    }

    td::before{
        content: attr(data-label);
        float: left;
        color: rgb(197, 197, 197);
        font-weight: bold;
    }

    tr:first-child, td:first-child{
        border-radius: 0;
    }
    
    td:last-child, tr:last-child{
        border-radius: 0;
    }

}


